<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- QA Test Framework Program Variables -->
    <add key="BrowserType" value="DesktopChrome" />
    <add key="DynamicData" value="true" />
    <add key="ScreenshotLocation" value="..\..\..\Screenshots" />
    <add key="ArchiveLocation" value="..\..\..\Archive" />
    <add key="ChromeBrowserOptions" value="--disable-infobars,--disable-blink-features=BlockCredentialedSubresources" />
    <!-- Cash Banking Related Program Variables -->
    <add key="CredentialTarget" value="ag-dev-fen-app1" />
    <add key="ArchiveCashBankingOutput" value="true" />
    <add key="ArchiveCashBankingInput" value="false" />
    <add key="CashBankingOutputLocation" value="..\..\..\CBOutput" />
    <add key="CashBankingInputLocation" value="..\..\..\CBInput" />
    <!-- Trade Finance Related Program Variables -->
    <add key="ArchiveTradeFinanceOutput" value="true" />
    <add key="ArchiveTradeFinanceInput" value="false" />
    <add key="TradeFinanceOutputLocation" value="..\..\..\TFOutput" />
    <add key="TradeFinanceInputLocation" value="..\..\..\TFInput" />
    <!-- Operational Services Related Program Variables -->
    <add key="ArchiveOperationalServicesOutput" value="true" />
    <add key="ArchiveOperationalServicesInput" value="false" />
    <add key="OperationalServicesOutputLocation" value="..\..\..\OSOutput" />
    <add key="OperationalServicesInputLocation" value="..\..\..\OSInput" />
  </appSettings>
</configuration>